<div class="primary-nav has-mega-menu">
    <ul class="navigation">
        <li class="active has-child"><a href="#nav-homepages">แดชบอร์ด</a>
            <div class="wrapper">
                <div id="nav-homepages" class="nav-wrapper">
                    <ul>
                        <li><a href="#">รายงาน 1</a></li>
                          <li><a href="#">รายงาน 2</a></li>
                        <li><a href="#">รายงาน 3</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#">MENU 1</a></li>
        <li><a href="#">MENU 2</a></li>
    </ul>
    <!--end navigation-->
</div>